<p>DragonBall Page</p>
<hr />
<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre del personaje"
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <br />
    <h3>{{ power() }}</h3>
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder del personaje"
      [value]="power()"
      (change)="power.set(+txtPower.value)"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />
    <button class="btn btn-primary mt-2" (click)="addCharacter()">
      Agregar Personaje
    </button>
  </div>

  <div class="col-12 col-sm-6 dragonball-content">
    <h3>Personajes de Dragon Ball fuertes</h3>
    <ul>
      <!-- @for (character of characters(); track $index) { <li>Goku</li> } -->
      @for (character of characters(); track character.id; let idx = $index) {
      @if (character.power > 1000) {
      <li>
        <span>{{ idx + 1 }} - {{ character.name }}</span>
        <!-- <strong
              [class.text-danger]="character.power > 9000"
              [class.text-success]="character.power <= 9000"
            > -->
        <strong
          [ngClass]="{
            'text-danger': character.power > 9000,
            'text-success': character.power <= 9000
          }"
        >
          ({{ character.power }})</strong
        >
      </li>
      } @else {
      <li><strong>Aquí no hay nadie</strong></li>
      } }
    </ul>
  </div>
</section>

<div class="dragonball-footer mt-3">
  <p>&copy; 2023 Dragon Ball Universe</p>
</div>
